*
!*/

!.bash_profile

!.config/alacritty/alacritty.yml

!.config/bat/config

!.config/fish/conf.d/alias.fish
!.config/fish/functions/.gitkeep
!.config/fish/functions/cd.fish
!.config/fish/config.fish
!.config/fish/fish_plugins

!.config/karabiner/karabiner.json

!.config/nvim/init.lua
!.config/nvim/after/plugin/*
!.config/nvim/lua/*
!.config/nvim/plugin/*
!.config/nvim/lua/core/*
!.config/nvim/lua/plugins/*
!.config/nvim/lua/extensions/**

!.config/rtx/config.toml

!.config/tmux/tmux.conf

!.config/starship.toml

!.gitignore

!.vimrc

!Brewfile

!Makefile

!script/init.sh

!README.md
