#!/bin/bash

if ! command -v brew > /dev/null 2>&1; then
  echo "Homebrew is not installed. Please install Homebrew first."
  exit 1
fi
brew bundle --global

if ! command -v mise > /dev/null 2>&1; then
  echo "Mise is not installed."
  exit 1
fi
mise install

exit 0

