#!/usr/bin/env fish

## [catppuccin/bat: 🦇️ Soothing pastel theme for Bat](https://github.com/catppuccin/bat)
mkdir -p "$(bat --config-dir)/themes"

# wget -P "$(bat --config-dir)/themes" https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Latte.tmTheme
# wget -P "$(bat --config-dir)/themes" https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Frappe.tmTheme
# wget -P "$(bat --config-dir)/themes" https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Macchiato.tmTheme
wget -P "$(bat --config-dir)/themes" https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Macchiato.tmTheme

bat cache --build

## [catppuccin/alacritty](https://github.com/catppuccin/alacritty)
mkdir -p "$HOME/.local/share/alacritty/themes/themes"
wget -O "$HOME/.local/share/alacritty/themes/themes/catppuccin-macchiato.toml" \
  https://raw.githubusercontent.com/catppuccin/alacritty/main/catppuccin-macchiato.toml
